.root {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
}

.toolbar {
  position: sticky;
  top: 0;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-neutral-border-normal);
  margin-bottom: var(--space-xlg);
}

.title {
  font-size: var(--typography-h5-size);
  font-weight: var(--typography-h5-weight);
  line-height: var(--typography-h5-leading);
  margin: 0;
}
